<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic orientation
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToLogin()">
        <ion-icon name="log-in"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>         
        <button ion-item *ngFor="let course of courses" (click)="itemSelected(course)">                   
          <h2>{{course.name}} - {{course.distance| number : '1.2-2'}} km</h2>
          <ion-badge item-end *ngIf="course.completed">Completed</ion-badge>         
        </button >
        <ion-item *ngIf="this.result != null"> 
          <button ion-button color-primary large full (click)="results()">Results</button>
        </ion-item>   
    </ion-list>    
</ion-content>
